
spring:
  datasource:
    name: mydb
    type: com.alibaba.druid.pool.DruidDataSource
    url: jdbc:mysql://localhost:3306/1810b?useUnicode=true&characterEncoding=utf-8
    username: root
    password: 123
    driver-class-name: com.mysql.jdbc.Driver
    application:
      name: serviceconsumer
  mail:
    default-encoding: UTF-8
    host: smtp.qq.com
    username: 493213427@qq.com
    password: szgnnrqzcxjlbgjg
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true


    #  dubbo:
    #    application:
    #      name: login_consumer
    #    registry:
    #      address: zookeeper://127.0.0.1:2181
    #    scan: com.jk.service
    #redis
#  redis:
#    host: 192.168.1.141
#    port: 6379
#    timeout: 3000
#    password: 123
mybatis:
  mapperLocations: classpath*:mybatis/*Mapper.xml
  typeAliasesPackage: com.jk.bean
#  data:
#    mongodb:
#      uri: mongodb://192.168.1.141:27017/1810B
#  aop:
#    proxy-target-class: false
#server:
#  port: 8080

